
body {
    background: #fcfdfe;
    margin: 0;
}

#main {
	margin: 0 auto;
	width: 90%;
	min-width: 100px;
	max-width: 1200px;
}

article, section, div,
p, a, img {
	margin: 0;
	padding: 0;
}

/* TYPOGRAPHY */

html {
    color: #000000;
    font-family: Rubik, -apple-system, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

p a {
	color: #25cddc;
	text-decoration: underline;
}

article p {
	line-height: 1.5;
}

/* HEADER */

#pattern-strip {
	height: 120px;
	width: 100%;
	background: #fcc url("pattern-strip.svg") no-repeat cover center;
}

header {
	padding: 60px;
	margin-top: 5vh;
	/*border: 60px solid #ccc;*/
}

#logo, #logo #name {
	display: inline-block;
}

#logo img {
	float: left;
	height: 80px;
	width: 80px;
	margin-right: 15px;
}

#logo p.name {
	color: #253859;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: -1px;
	margin-top: 8px;
	margin-bottom: -4px;
}

#logo p.sub {
	color: #25cddc;
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}

header nav {
	float: right;
	margin: 4px 0 0 auto;
}

header nav div {
	display: inline-block;
	margin-left: 16px;
	text-align: center;
}

header nav img {
	width: 60px;
	display: block;
	margin: 0 auto;
}

header nav span {
	color: #A6AFBD;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.nav-red:hover  span, .nav-red.here  span { color: #fc4667; }
.nav-blue:hover span, .nav-blue.here span { color: #25cddc; }
.nav-dark:hover span, .nav-dark.here span { color: #253859; }

/* ARTICLE */

article.padded {
	padding: 0 155px;
}

section {
	margin-bottom: 60px;
	position: relative;
}

.showcase section {
	text-align: center;
}

.showcase section img {
	width: 100%;
	border-radius: 10px;
	transition-duration: 0.25s;
}

.showcase section:hover img {
	filter: brightness(1.1);
}

.caption {
	color: #A6AFBD;
	margin: 5px 60px;
}

.right {
	float: right;
}

.overcap {
	text-align: right;
	z-index: 100;
	position: absolute;
	right: 20px;
	bottom: 20px;

	color: rgba(255, 255, 255, 0.8);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.overcap.dark {
	color: rgba(0, 0, 0, 0.8);
}

.file {
	display: flex;
	margin: 20px 0 40px;
	text-align: left;
	cursor: pointer;
}

.file>img {
	max-width: 100px;
	max-height: 100px;
	box-shadow: 0 10px 20px #ddd;
	border-radius: 2px;
	margin-right: 10px;
}

.file .file-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #A6AFBD;
}

.file .file-info .title {
	color: #000000;
	font-weight: 500;
	margin-top: 4px;
}

.file .file-info img {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 2px;
}

.row {
	display: flex;
}

.row section {
	width: 70%;
}

.row aside {
	width: 30%;
}

aside.links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

aside.links a {
	display: flex;
	align-items: center;
	margin-top: 16px;
	color: rgba(255, 255, 255, 0);
	transition: color 0.2s;
}

aside.links:hover a { color: #A6AFBD; }
aside.links a:hover { color: #000000; }

aside.links img {
	width: 64px;
	height: 64px;
	margin-left: 8px;
}

/* FOOTER */

footer {
	border-top: 1px solid #EDEFF2;
	padding: 10px 0 10vh 0;
	margin: 80px 60px 0 60px;
	color: #A6AFBD;
	text-align: left;
}

footer p {
	display: inline-block;
}

.social img {
	width: 32px;
}

.greyout {
	transition: all 0.3s cubic-bezier(.30, .50, 0, 1);
}

.grey-twitter  { filter: grayscale(0.91) brightness(1.25) hue-rotate(15deg); }
.grey-linkedin { filter: grayscale(0.92) brightness(2.08) hue-rotate(18deg); }
.grey-email    { filter: grayscale(0.86) brightness(3.19); }
.grey-github   { filter: grayscale(0.85) brightness(14.8); }

footer:hover .greyout {
	filter: none;
}

img.dnd {
	width: 32px;
	height: 32px;
	vertical-align: -10px;
}

@media (min-width: 800px) {
	span.reveal {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		width: 0;
		height: 24px;
		transition: all 0.3s cubic-bezier(.30, .50, 0, 1);
		margin-left: 0;
	}

	footer:hover p.reveal {
		color: #334455;
	}

	footer:hover span.reveal {
		width: 11.4em;
		margin-left: 6px;
	}

	.social {
		float: right;
	}
}

/* MOBILE */

@media (max-width: 799px) {
	body {
		padding: 40px;
	}

	#main {
		width: 100%;
	}

	html {
		font-size: 14px;
	}


	header {
		padding: 0;
		margin: 20px 0;
	}

	#logo img {
		height: 60px;
		width: 60px;
		margin-right: 10px;
	}

	#logo p.name {
		font-size: 30px;
		line-height: 30px;
		margin-top: 8px;
		margin-bottom: -4px;
	}

	#logo p.sub {
		font-size: 20px;
	}

	header nav img {
		width: 40px;
	}


	article.padded {
		padding: 0;
	}

	section {
		margin-bottom: 20px;
	}

	.showcase section {
		text-align: center;
	}

	.showcase section img {
		border-radius: 4px;
	}

	.overcap {
		right: 10px;
		bottom: 15px;
	}

	.row {
		display: block;
	}

	.row section,
	.row aside {
		width: 100%;
	}

	aside.links {
		align-items: flex-start;
	}

	aside.links a {
		flex-direction: row-reverse;
		margin-top: 8px;
		color: #A6AFBD;
	}

	aside.links img {
		margin-left: 0;
		margin-right: 8px;
	}


	footer {
		margin: 0;
		padding: 0;
		margin-top: 40px;
		padding-top: 5px;
		text-align: center;
		margin-bottom: 0;
	}

	img.dnd {
		width: 24px;
		height: 24px;
		vertical-align: -7px;
	}
}

@media (max-width: 600px) {
	body {
		padding: 20px;
	}

	header {
		text-align: center;
	}

	#logo {
		text-align: left;
	}

	header nav {
		float: none;
		clear: left;
		margin: 20px auto;
	}

	header nav div {
		margin-left: 0;
		margin-right: 10px;
	}

	header nav img {
		width: 20px;
		display: inline;
		vertical-align: -4px;
	}


	.overcap,
	.overcap.dark {
		position: relative;
		right: 0;
		bottom: 0;

		color: #A6AFBD;
		font-size: 0.8em;
		font-weight: 400;
	}
}

